.footer {
    margin-left: 50%;
    width: 100vw;
    transform: translate(-50%);
    color: var(--white);
    background-color: var(--primary-color-1);

    img {
        max-width: 100px;
        width: 100%;
    }

    h2 {
        margin-top: 0;
        margin-bottom: 16px;
        font-weight: 700;
        font-family: Karla, sans-serif;
        font-size: 1.8rem;
    }
}

.footer__inner {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 32px;
    padding-top: 32px;
    padding-bottom: 32px;

    @media screen and (max-width: 810px) {
        grid-template-columns: repeat(2, auto);
    }

    @media screen and (max-width: 500px) {
        grid-template-columns: repeat(1, auto);
    }
}

.footer__list {
    margin: 0;
    padding: 0;
    list-style: none;

    svg {
        width: 2ch;
    }

    a,
    span {
        display: inline-flex;
        align-items: center;
        gap: 8px;
    }

    a {
        text-decoration: none;
        color: inherit;

        &:hover,
        &:active,
        &:focus {
            text-decoration: underline;
        }
    }
}
