.app {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 60px 1fr 300px;
    margin: 0 auto;
    max-width: 960px;
    min-height: 100vh;
}

nav ul {
    display: flex;
    gap: 8px;
    list-style: none;
}
